Term.VT100.translations:       #override \n\
!    Ctrl Shift  ~Meta <key><down>: string("\033[65;6~") \n\
!    Ctrl Shift  ~Meta <key><up>  : string("\033[66;6~") \n\
!!    Ctrl ~Shift ~Meta <key>period: string("\033[46;5~") \n\
!!    Ctrl ~Shift ~Meta <key>comma: string("\033[44;5~")
!!!    Ctrl<Key>period:    string(0x1b) string("[46;5P") \n\
!!!    Ctrl<Key>comma:     string(0x1b) string("[44;5P")
